<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="evaluación-unidad2">
    <meta name="author" content="creyes-dev">

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script type="text/javascript" src="js/jquery-3.1.1.slim.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">

  </head>
  <body>
    {{{body}}}
  </body>
</html>
