<h4>Formularios <small>data</small></h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="guardarCambios()">

  <div>

    <div class="form-group row" [ngClass]="{'has-danger' : !forma.get('nombre').valid}">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="nombre">

        <div *ngIf="forma.controls['nombre'].errors?.required" class="form-control-feedback">
          El nombre es obligatorio.
        </div>
        <div *ngIf="forma.controls['nombre'].errors?.minlength" class="form-control-feedback">
          La cantidad de caracteres minima es 5.
        </div>
      </div>
    </div>

    <div class="form-group row"  [ngClass]="{'has-danger' : !forma.get('apellido').valid}">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               formControlName="apellido">
        <div *ngIf="forma.controls['apellido'].errors?.required" class="form-control-feedback">
          El apellido es obligatorio.
        </div>
      </div>
    </div>

  </div>

  <div class="form-group row" [ngClass]="{'has-danger' : !forma.get('correo').valid}">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="correo">
      <div *ngIf="forma.controls['correo'].errors?.required" class="form-control-feedback">
       El correo es obligatorio.
      </div>
      <div *ngIf="forma.controls['correo'].errors?.pattern" class="form-control-feedback">
       El correo no tiene un formato valido.
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Pasatiempos</label>
    <div class="col-8" formArrayName="pasatiempos">

      <input *ngFor="let pasatiempo of forma.controls['pasatiempos'].controls; let i=index"
             class="form-control"
             type="text"
             [formControlName]="i">
    </div>

    <button type="button" class="btn btn-primary" (click)="agregarPasatiempo()">Nuevo</button>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>

{{ forma.valid }}
