<div class="ContenedorProductos">
  {{# each productos }}
    <div class="row">
      {{# each this }}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{this.imagen}}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">{{this.titulo}}</h4>
                    <p class="card-text">{{this.descripcion}}</p>
                    <div class="row">
                        <div class="col-sm-6">
                          <p class="lead">${{this.precio}}</p>
                        </div>
                        <div class="col-sm-6" style="text-align: right;">
                          <p><a href="#" class="btn btn-success" role="button">Agregar</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      {{/each}}  
    </div>
  {{/each}}
</div>