<!--

<h1>{{ tvshow.title }} <small>{{ tvshow.year }}</small></h1>
<hr>

<div class="row">
  <div class="col-md-4">
    <img [src]="tvshow.poster" [alt]="tvshow.title">
    <br><br>
    <a [routerLink]="['/tvshows']" class="btn btn-outline-danger btn-block">Regresar</a>

  </div>

  <div class="col-md-8">
    <h3>{{tvshow.title}}</h3>
    <hr>
    <p>
      Summary: {{tvshow.summary}}
    </p>
    <p>
      Genre: {{tvshow.genre}}
    </p>
    <p>
      Seasons: {{tvshow.seasons}}
    </p>
    <p>
      Country: {{tvshow.country}}
    </p>

  </div>

</div>
-->
