<p>
  add works!
</p>

<form method="post" (ngSubmit)="alta()" #formtvshow="ngForm">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Enter TvShow Title" name="title" [(ngModel)]="tvshow.title" >
  </div>
  <div class="form-group">
    <label for="year">Year</label>
    <input type="text" class="form-control" id="year" placeholder="Enter TvShow Year" name="year" [(ngModel)]="tvshow.year" >
  </div>
  <div class="form-group">
    <label for="country">Country</label>
    <input type="text" class="form-control" id="country" placeholder="Enter TvShow Country" name="country" [(ngModel)]="tvshow.country" >
  </div>
  <div class="form-group">
    <label for="poster">Poster</label>
    <input type="text" class="form-control" id="poster" placeholder="Enter TvShow Poster" name="poster" [(ngModel)]="tvshow.poster" >
  </div>
  <div class="form-group">
    <label for="country">Seasons</label>
    <input type="text" class="form-control" id="seasons" placeholder="Enter TvShow Seasons" name="seasons" [(ngModel)]="tvshow.seasons" >
  </div>
  <div class="form-group">
    <label for="country">Genre</label>
    <select class="form-control" id="genre" name="genre" [(ngModel)]="tvshow.genre">
      <option>Select Genre</option>
      <option value="Drama">Drama</option>
      <option value="Fantasy">Fantasy</option>
      <option value="Sci-Fi">Sci-Fi</option>
      <option value="Thriller">Thriller</option>
      <option value="Comedy">Comedy</option>
    </select>
  </div>
  <div class="form-group">
    <label for="summary">Summary</label>
    <textarea class="form-control" id="summary" rows="3" name="summary" [(ngModel)]="tvshow.summary" ></textarea>
  </div>
  <div class="form-group row">
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-primary">Guardar</button>
      <button type="button" (click)="cancelar()" class="btn btn-danger">Cancelar</button>
    </div>
  </div>
</form>

{{ tvshow | json }}
